.footer{
    position:relative;
    margin-top: auto;
    bottom: 0;
}

.animation {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* A transição suave para o efeito */
}

.animation:hover {
  transform: scale(1.1); /* Aumenta o tamanho do botão */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destacar o botão */
}
