.alert {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 600px;
  z-index: 5;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.alert h4 {
  margin-bottom: 10px;
}
